<section id="nav2"></section>

<section id="hero">

<div>

    <main class="mainbox">
        <h1>Search your next ride</h1>
        <h4>Pick up</h4>
        <p class="">
        <input type="text" placeholder="Date">
         <input type="text" placeholder="Time">
        </p>
         
         <h4>Drop off</h4>
         <p class="">
             <input type="text" placeholder="Date">
             <input type="text" placeholder="Time">
         </p>
         

         <button class="search">Search</button>

         <p><a href="#" style="color: #555555;">inter-city travel from <b>Bangalore?</b></a></p>

    </main>

</div>
<div>

</div>

</section>

<section id="ads">
    <div>
     <img src="../cdn/img/ads/ads_one-db70a8af7a98baaee8e83c4201f1f3187f6f9a86adadfda982e3683304cd6f0d.png" alt="">
    <img src="../cdn/img/ads/ads_two-74137d80a5e444d475385d2be95581028dbe9dd0c246bb53f7b56fea44723f13.png" alt="">
    </div>

</section>

<section class="service">
    <div class="features-service">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/redesign/feature_tag_insurance-84ee18a118bee4cfc4f774e0dbdb5d24431af458eb583d5d1c5822801e388764.png" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/redesign/feature_tag_insurance-84ee18a118bee4cfc4f774e0dbdb5d24431af458eb583d5d1c5822801e388764.png" alt="Vehicle Insurance" class="features-service-tags--child-img lozad" data-loaded="true">
        <p class="features-service-tags--child-tagline">Vehicle Insurance</p>
    </div>
    <div class="features-service">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/redesign/feature_tag_assistance-ec66ebeeb0ebb01468fc1729165040e172820de83d5037cf47a73f4e19177d68.png" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/redesign/feature_tag_assistance-ec66ebeeb0ebb01468fc1729165040e172820de83d5037cf47a73f4e19177d68.png" alt="24/7 Roadside Assistance" class="features-service-tags--child-img lozad" data-loaded="true">
        <p class="features-service-tags--child-tagline">24/7 Roadside Assistance</p>
    </div>
    <div class="features-service">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/redesign/feature_tag_maintainence-4ac25e7eb9ad6f8b78ec52640a7310d8083a21823e1fb54ca9872076c2bc5f34.png" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/redesign/feature_tag_maintainence-4ac25e7eb9ad6f8b78ec52640a7310d8083a21823e1fb54ca9872076c2bc5f34.png" alt="Bike Maintenance" class="features-service-tags--child-img lozad" data-loaded="true">
        <p class="features-service-tags--child-tagline">Bike Maintenance</p>
    </div>
  </section>



  <section id="rbx">

      <div class="rbxb">
          <article>
              <p class="rbx-intro">Introducing</p>
              <h2 class="rbx-heading">
                  Royal Brothers <span class="rbx-heading-x">X</span>
              </h2>
              <div class="rbx-grid">
                  <div class="rbx-item">
                      <img alt="Bikes for rent in Bangalore" class="rbx-bike" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/redesign/rbx_bike-0a229b31c998adf63b64a9f60efb6e33d52aac58a2192ad196122625129c9fef.png" data-loaded="true">
                  </div>
                  <div class="rbx-item">
          <p class="rbx-feature--title">Now rent vehicles on monthly subscription <br> (1-9 months)</p>

            <ul class="rbx-subGrid">
              <li>Pay per month</li>
              <li>Free home delivery</li>
              <li>Sanitized bikes</li>
              <li>Free maintenance</li>
            </ul>
          <a href="https://www.royalbrothers.com/bangalore/bike-rentals/long-term">
            <button class="rbx-button btn">EXPLORE</button>
</a>        </div>
              </div>
          </article>
      </div>



  </section>


  <section id="fleet">
      <h1 class="fleet-h1">Our Fleet</h1>
      <main>
          <div class="our-fleet--duration">
              <label for="cars">Duration &nbsp;</label>
                 <select name="time" id="time">
                   <option value="hourly">Hourly</option>
                   <option value="7days">7 Days</option>
                  <option value="15days">15 Days</option>
                  <option value="3month">3 months</option>
                  <option value="1month">1 months</option>

                </select>
          </div>

        <div class="product">
            <ul>
                <li>
                    <h3 style="text-align: center;">Honda Activa 3G</h3>
                    <img src="https://d3vp2rl7047vsp.cloudfront.net/bike_models/images/000/000/002/medium/Activa_3G-min_2.png?1519738389" alt="Honda Activa 3G">
                    <h2 style="text-align: center;">12/Hour</h2>
                    <button href="#" class="btn-book">Book Now</button>
                </li>

                <li>
                    <h3 style="text-align: center;">Honda Activa 3G</h3>
                    <img src="https://d3vp2rl7047vsp.cloudfront.net/bike_models/images/000/000/002/medium/Activa_3G-min_2.png?1519738389" alt="Honda Activa 3G">
                    <h2 style="text-align: center;">12/Hour</h2>
                    <button href="#" class="btn-book">Book Now</button>
                </li>

                <li>
                    <h3 style="text-align: center;">Honda Activa 3G</h3>
                    <img src="https://d3vp2rl7047vsp.cloudfront.net/bike_models/images/000/000/002/medium/Activa_3G-min_2.png?1519738389" alt="Honda Activa 3G">
                    <h2 style="text-align: center;">12/Hour</h2>
                    <button href="#" class="btn-book">Book Now</button>
                </li>

                <li>
                    <h3 style="text-align: center;">Honda Activa 3G</h3>
                    <img src="https://d3vp2rl7047vsp.cloudfront.net/bike_models/images/000/000/002/medium/Activa_3G-min_2.png?1519738389" alt="Honda Activa 3G">
                    <h2 style="text-align: center;">12/Hour</h2>
                    <button href="#" class="btn-book">Book Now</button>
                </li>

                

                

               
                
                
            </ul>

           
        </div>

    

      </main>

      <p style="font-size: 1.2rem;
    font-weight: 280;
    margin: 0;
    text-align: center;">* Excluding of all taxes</p>
       
  </section>



    <section id="quality">
        <h1 style="text-align: center;">WE BELIEVE IN QUALITY</h1>
        <main >
            <div>
                <h2>We're socialy celebrated</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt totam deserunt sequi.</p>
            </div>
            

        </main>


    </section>

  <section id="featurein">
      <h1>FEATURED IN</h1>

      <marquee direction = "left"><main>
        <img class="img2" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/inc_42-59ce79f32655b91f34e9ed4e5d53175f446ea263b57ffc85fd3572a1a4a1aade.jpg" alt="">
        <img class="img2" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/news3-2eb9e0398a565284ca3c41d685e32de985b43ce00541889f59541ee91cb28e61.png" alt="">
        <img class="img2" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/the_indian_express-e2581d704a7b572ef2d66812e5a264c6ab753e109a200c4da8e249b82e3c9f52.jpg" alt="">
        <img class="img2" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/money_control-0301bddd4ac901172098f7d0b590e8dbed35e7fa1064d2ced799f9cbc9185d66.png" alt="">
        <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/the_better_india-09cca403fbe2fe19974cb1701aaa87fce8e587f32a18bc477ebf28f05e1c1788.png" alt="" class="img2">
      </main>
      </marquee>

  </section>


  <section style="background: #373737;" id="footer">
      <footer>
          <main class="row">
              <div class="ft">
                  <h5>Royal Brothers</h5>
                  <ul>
               <li>
                   <a class="footer-email" href="mailto:support@royalbrothers.com" rel="noopener" target="_blank"> 
               <img class="lozad" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/white-mail-f7a800f328eab451231c558115ad0067bdd6c5ba04b7acd19f22ae4036e702d1.png" alt="mail-icon" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/white-mail-f7a800f328eab451231c558115ad0067bdd6c5ba04b7acd19f22ae4036e702d1.png" data-loaded="true"> support@royalbrothers.com
                   </a>
                </li>
           
            <li> <img class="lozad" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/white-phone-d7daea12563d63fb4bd1cbb2fa0a824d19501def56934aff125e23343912895e.png" alt="phone-icon" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/white-phone-d7daea12563d63fb4bd1cbb2fa0a824d19501def56934aff125e23343912895e.png" data-loaded="true"><a href="tel:+917795687594">+917795687594</a> / <a href="tel:+919019595595">+919019595595</a></li>
            <li> 
            <div id="recapcha_div">
            
            </div> </li>
         </ul>
              </div>
              <div class="ft">
                  <h5>Company</h5>

                  <ul>
            
               <li><a class="footer-aboutus" href="https://www.royalbrothers.com/about" rel="noopener">About Us </a></li>
           
          
               <li>  <a href="https://www.royalbrothers.com/blog">Blog </a></li>
           
                          <li>
                           <a class="footer-careers" href="https://angel.co/royal-brothers-bikes-for-rent/jobs" target="_blank" rel="noopener">
                          Careers <span>We're hiring!</span>
                            </a>
                           </li>
          
           
               <li> <a class="footer-contact" href="https://www.royalbrothers.com/reach">Contact Us </a></li>
           
         </ul>
              </div>
              <div class="ft">
                  <h5>POLICIES</h5>
                  <ul>
            
               <li><a class="footer-privacy" href="https://www.royalbrothers.com/privacy-policy" rel="noopener">Privacy Policy    </a></li>
        
            
            
               <li> <a class="footer-tandc" href="https://www.royalbrothers.com/terms-and-conditions" rel="noopener"> Terms &amp; Conditions  </a></li>
           
         </ul>
              </div>
              
              
              <div class="ft">
                  <h5>QUICK LINKS</h5>
                  <ul>
               
                  <li class="footer-tariff">
                  <a href="https://www.royalbrothers.com/bangalore/bike-rentals/tariff">
                     Tariff
</a>                  </li>
              
                 
                     <li class="footer-offers">
                      <a href="https://www.royalbrothers.com/bangalore/bike-rentals/offers">
                     Offers
</a>                     </li>
                 
              
                  <li class="footer-riding-gears">
                   <a href="https://www.royalbrothers.com/bangalore/accessories-rentals">
                  Riding Gears
                   </a>
                  </li>
              
            <li><a href="https://www.royalbrothers.com/partner-with-us">Own a franchise</a></li>
				<li><a href="https://www.royalbrothers.com/earn-with-us">Earn with us</a></li>
            <li><a href="https://www.royalbrothers.com/biking-routes-in-india">Indian bike routes</a></li>

						
         </ul>
              </div>

             


          </main>

          <main style="display: flex;">
              
              <div class="ft">
                  <h5>FOLLOW US</h5>
                  <ul>
            <li>
               <a class="footer-instagram" href="https://www.instagram.com/royalbrothersrentals/" rel="noopener" target="_blank"><img class=" lozad" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/Insta-e068316ffc568b3c0162ef129542c4ec473fedb2317cc8132168a07a0616b475.png" alt="instagram icon" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/Insta-e068316ffc568b3c0162ef129542c4ec473fedb2317cc8132168a07a0616b475.png" data-loaded="true"></a>
               <a class="footer-facebook" href="https://www.facebook.com/RoyalBrothersBikeRentals/" rel="noopener" target="_blank"><img class="lozad" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/Facebook-ad24f92a1479ca4c5b308092f11f91d3ad2189d505ba2a737f376943a89b721b.png" alt="facebook icon" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/Facebook-ad24f92a1479ca4c5b308092f11f91d3ad2189d505ba2a737f376943a89b721b.png" data-loaded="true"> </a>
               <a class="footer-linkedin" href="https://www.linkedin.com/company/royal-brothers" rel="noopener" target="_blank"><img class="lozad" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/Linkedin-685bfa4464dc2263601740aad98014e02801299c7f2104be70458ac13d061fa1.png" alt="linkedin icon" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/Linkedin-685bfa4464dc2263601740aad98014e02801299c7f2104be70458ac13d061fa1.png" data-loaded="true"></a>
               <a class="footer-youtube" href="https://www.youtube.com/channel/UCRGf98BhX09kyw5hKBYhsdw" rel="noopener" target="_blank"><img class="lozad" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/Youtube-35dbc9202b8e7b71d09c782934215b9f6a78a1b3b11d190b5ad275c004484295.png" alt="YouTube icon" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/Youtube-35dbc9202b8e7b71d09c782934215b9f6a78a1b3b11d190b5ad275c004484295.png" data-loaded="true"></a>
            </li>
         </ul>
              </div>

              <div class="ft">
                  <h5>DOWNLOAD OUR APP
</h5>

<ul>
            <li>
               <a class="footer-ios" href="https://itunes.apple.com/in/app/royal-brothers-bike-rentals/id1405554590?mt=8" rel="noopener" target="_blank"><img class=" apps-icon" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/app_store-4407bc8ced0d52a50ff042ce51e32d51de3e11717955798ec54c6a28e7926c7c.png" alt="mail-icon" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/app_store-4407bc8ced0d52a50ff042ce51e32d51de3e11717955798ec54c6a28e7926c7c.png" data-loaded="true"></a> 
               <a class="footer-android" href="https://play.google.com/store/apps/details?id=com.royalbrothers&amp;hl=en_IN" rel="noopener" target="_blank"> <img class="apps-icon" data-src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/play_store-057f9061b4cd0fd4953a485569c15e63fdf8d89b0bcc025c04cfb34d9e8cd571.png" alt="mail-icon" src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/play_store-057f9061b4cd0fd4953a485569c15e63fdf8d89b0bcc025c04cfb34d9e8cd571.png" data-loaded="true"> </a> 
            </li>
            <li> 
            </li>
         </ul>
              </div>

          </main>
      </footer>

  </section>